body{
    font-family:  'Poppins', sans-serif;
   
}
*{
    margin:0%;
}
.header{
    background: url(images/donation9.jpg);
    background-size: cover;
    
    padding-top: 250px;
    padding-bottom: 183px;
    text-align: center;
    font-weight: 700;
    color: white;
}
.header h1{
    font-size: 50px;
}
.header p{
    background-color: rgba(51, 27, 27, 0.575);
    display: inline-block;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(63, 0, 0),rgb(190, 27, 27));
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
}
.donation{
    margin-top: 100px;
 }
.first-part{
    text-align: center;
}

.first-part h1{
    font-size: 50px;
}
.amount{
    display: flex;
    margin-top: 80px;
    margin-left: 250px;
}
.amount-tk{
    background-color: rgba(255, 160, 176, 0.171);
    font-size: 20px;
    padding: 30px;
    margin-left: 20px;
}
.special-tk{
    border: 2px rgb(255, 0, 43) solid;
    color: rgb(255, 0, 43);
    background-color: rgba(196, 95, 112, 0.459);
    border-radius: 5px;
}
.input{
    margin-top: 40px;
    margin-left: 300px;
    margin-bottom: 50px;
    

}
.input input{
    width: 725px;
    padding: 30px 20px;
    border: none;
    border-bottom: 2px solid grey;
}
.link-2-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 105, 152),rgb(255, 10, 84));
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    margin-left: 300px;
   
}
.plan  {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}
.donation-plan{
    width: 30%;
    background-color: rgba(255, 160, 176, 0.171);
    border-radius: 20px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.save-a-child{
    margin-top: 50px;
    background-color: rgba(117, 231, 117, 0.425);
    padding: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
}
.adopt{
    text-decoration: none;
    background-image: linear-gradient(rgb(153, 230, 109),rgb(59, 252, 0));
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
    
}
.updates{
    margin-top: 50px;
    text-align: center;
}
.mail{
    padding: 70px 175px;
    background-color: rgba(111, 216, 216, 0.158);
    margin: 50px 220px;
    border-radius: 20px;
}
.mail input{
    width: 400px;
    padding: 15px 20px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: rgba(128, 128, 128, 0.26);
}
.submit-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(109, 157, 230),rgb(8, 169, 243));
    padding: 12px 20px;
    color: white;
    border-radius: 5px;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 80px 0;
    margin-top: 50px;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: orange;
}